@charset "utf-8";


/*
    New Perspectives on HTML5 and CSS3, 7th Edition
    
	Website Assignment
	
    Author: Martha Morales-Dixon
    Date:    03/03/2019
	
	
	Filename: nmr_layout.css

	
*/

/* html Layout */

html {
	height: 100%;
}

/*	Images   */

header img {
	display: block;
	width: 96%;
	margin-right: auto;
	margin-left: auto;
}

img {
	display: block;
	padding: 1.5em;
	float: left;
	clear: left;
	width: 25%;
}

/*	Body Layout */
	
body {
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	padding-right: 3.5%;
	padding-left: 3.5%;
	min-height: 100%;
	clear: none;
	float: none;
}


h1 {
	display: block;
}
h2 {
	display: block;
	float: left;
}

/*  List Layout */

ul li {
	color: white;
	padding: .21em;
	}

/* Footer Layout */
	
footer {
	text-align: center;
	font-size: 1.0em;
	margin-top: 4%;
	border-top: 3px outset #cf7b79;
	font-family: Verdana, Geneva, sans-serif;
	clear: both;
	padding-bottom: 20px;
}
